{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1>Add <span class="smaller">Create a new document on our collection.</span></h1>
    <form action="" method="post">
        <div>
            {{ form.name.label }}: {{ form.name() }}
            {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{ form.active.label}}: {{ form.active() }}
            {% if form.active.errors %}
            <ul class="errors">
                {% for error in form.active.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}