{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Task Manager</span> <span class="smaller">A simple CRUD</span></h1>
  <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, a&nbsp;Pyramid application that&nbsp;intends
    to help you with MongoDB and WTForms.</p>
  <hr>
  <h1> Tasks</h1> <br>
  <ul>
    {% if tasks %}

    {% else %}
    <li>No tasks</li>
    {% endif %}
    {% for task in tasks %}
    <li>
      {{task.name}} | <a href="{{ request.route_url('tedit', id=task['_id'])}}">Edit</a> | <a
        href="{{ request.route_url('tdelete', id=task['_id'])}}">Delete</a>
    </li>

    {% endfor %}
  </ul>
  <h2>Actions</h2>
  <ul>
    <li><a href="{{request.route_url('tadd')}}">Add new Task</a></li>
  </ul>
</div>

{% endblock content %}